.Header {
    border-radius: 20px;
}

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}

.a {
    color: #fff;
}

.b {
    color: white;
}

.c {
    color: #ffffff;
}

.d {
    color: rgba(255,255,255,1);
}

.e {
    color: rgb(255,255,255);
}